<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" type="text/css" href="./test.css">-->


    <title>Hello, world!</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--google material icon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/test.css">


</head>
<body>
    <h1 style="text-align:center; padding-top: 15%">Log in to your account</h1>
    <form #loginform style="text-align: center" action="/home" method="post">
        Zid:<br>
        <input type="text" name="zid" value="">
        <br>
        Password:
        <br>
        <input type="password" name="password" value="">
        <br><br>
        <input type="submit" value="Log in">
    </form>
</body>
<!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
<!--//        $(function(){-->
<!--//            $('#loginform').submit(function(){-->
<!--//                $.ajax({-->
<!--//                    type:'POST',-->
<!--//                    url:'/login',-->
<!--//                    data:$(this).serialize(),-->
<!--//                    success: function(response) {-->
<!--//                    console.log(response);-->
<!--//                    },-->
<!--//                    error: function(error) {-->
<!--//                        console.log(error);-->
<!--//                    }-->
<!--//                });-->
<!--//                return false;-->
<!--//            });-->
<!--//        });-->
<!--//    </script>-->
</html>

