<!doctype html>
<html lang="en">
<head>
<title>Hello, world!</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--google material icon-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/test.css">

</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">UNSWtalk</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <span class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </span>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <span style="width: 20px"></span>
                <form #Logout action="/logout" method="post">
                    <button type="submit" class="btn btn-info">Logout</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="content">
        <!--<div class="poster-list"></div>-->
        <!--<div class="user"></div>-->
        <!--<div class="friend-list"></div>-->
        <div class="container">
            <div class="row">
                <div class="col-8 left-content">
                    <div class="poster-list">
                        <div>
                            <p>Message</p>
                            <form #messageSearch action="/search_message" method="post">
                            <input type="text" name="search" value="">
                                <!--<input type="hidden" name="zid" value={{ student_info[0] }}>-->
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
                                <span class="spacer"></span>
                                <i class="material-icons" onclick="showHideCode1()" style="cursor:pointer">add</i>
                            </form>

                        </div>
                        <div id = "showdiv1" style="display:none;">
                            <form #postmessage action="/post" method="post">
                                <textarea name="new_message" clos="1px" rows="3px" value=""></textarea>
                                <input type="hidden" name="zid" value = {{ student_info[0] }}>
                                <input type="submit" name="new_message" value="post">
                            </form>
                        </div>

                        <!--<ul>-->
                            <!--{% for message in message_list %}-->
                            <!--<li>-->
                                <!--<div class="card" style="width: 100%; margin: 5px auto">-->
                                    <!--<div class="card-body">-->
                                        <!--<div>-->
                                            <!--<p class="message">{{ message[3] }}</p>-->
                                        <!--</div>-->
                                        <!--<hr>-->
                                        <!--<div class="tools">-->
                                            <!--<a href="/guide?zid={{ message[1] }}"><span class="time">posted by {{ message[2] }} in {{ message[4] }}</span></a>-->
                                            <!--<span class="spacer"></span>-->
                                            <!--<button type="button" class="material-icons" onclick="commentshow(this)" style="cursor:pointer">expand_more</button>-->
                                            <!--<i class="material-icons" onclick="showHideCode3()" style="cursor:pointer">add</i>-->
                                        <!--</div>-->
                                        <!--<div id="common">-->
                                            <!--{% for common in message[5] %}-->
                                                <!--<p class="message">{{ common[3] }}</p>-->
                                                <!--<hr>-->
                                                <!--<span class="time">comment by {{ common[2] }} in {{ common[4] }}</span>-->
                                                <!--<hr>-->
                                                <!--{% for reply in common[5] %}-->
                                                    <!--<p class="message">{{ reply[4] }}</p>-->
                                                    <!--<hr>-->
                                                    <!--<span class="time">replied by {{ reply[3] }} in {{ reply[5] }}</span>-->
                                                <!--{% endfor %}-->
                                            <!--{% endfor %}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--{% endfor %}-->
                        <!--</ul>-->
                    </div>
                <div class="col-4 right-content">
                    <div class="user">
                        <div class="user-img">
                            <img src="{{ img }}" width="100" height="100">user image
                        </div>
                        <ul>
                            <li>
                                <span>Zid: {{ student_info[0] }}</span>
                            </li>
                            <li>
                                <span>Fullname: {{ student_info[2] }}</span>
                            </li>
                            <li>
                                <span>Birthday: {{ student_info[6] }}</span>
                            </li>
                            <li>
                                <span>E-mail: {{ student_info[3] }} </span>
                            </li>
                            <li>
                                <span>Courses: {{ student_info[4] }}</span>
                            </li>
                            <li>
                                <span>Home_suburb: {{ student_info[5] }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="friend-list">
                        <p>friend</p>
                        <form #friendSearch action="/search_friend" method="post">
                        <input type="text" name="search" value="">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
                        </form>
                        <div>
                            <!--friend-->
                        </div>
                        <ul>
                            {% for friend in friend_list %}
                            <li>
                                <div class="user-img">
                                    <a href="/guide?zid={{ friend[0] }}"><img src="{{ friend[2] }}" width="30" height="30">{{ friend[1] }}</a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--&lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="jquery-1.7.2.min.js"></script>-->

<script type="text/javascript">
    function showHideCode1(){
        $("#showdiv1").toggle();
    }
    function showHideCode2(){
        $("#showdiv2").toggle();
    }

    function showHideCode3(){
        $("#showdiv3").toggle();
    }
    function showHideCode4(){
        $("#showdiv4").toggle();
    }
    function showHideCode5(){
        $("#showdiv5").toggle();
    }

//onclick="searchFriend()
  function searchFriend() {
//        var friend = $("#friendSearch").val();
//        var data = {'friend': friend};
//        if (window.console) console.log(friend);
//        $.ajax({
//            type: "POST",
//            url: "/search_friend",
//            data: JSON.stringify(data, null, '\t'),
//            contentType: 'application/json;charset=UTF-8',
//            success:function(data){
//                console.log(data)
//            }
//        })
  }
</script>

</body>
</html>






                        <div id = "showdiv1" style="display:none;">
                            <form #postmessage action="/post" method="post">
                                <textarea name="new_message" clos="1px" rows="3px" value=""></textarea>
                                <input type="hidden" name="zid" value = {{ student_info[0] }}>
                                <input type="submit" name="post" value="post">
                            </form>
                        </div>


<input type="hidden" name="mid" value= {{ message[0] }}>
<input type="hidden" name="mmessage" value= {{ message[4] }}>
(% if login_zid == mfrom %) {{ message[1] }}
    <form #deletemessage action="/delete" method="post">
        <button type = "submit" name="delete" value="" >delete</button>
    </form>
(% else if %)
<hidden></hidden>
(% endif %)









